In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , OneHotEncoder , StandardScaler
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [6]:
with open('gender_label_encoder.pkl','rb') as file:
    gender_label_encoder = pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo = pickle.load(file)
with open('churn_modelling_scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [7]:
data['Gender'] = gender_label_encoder.transform(data['Gender'])

In [14]:
geo_encoded = onehot_encoder_geo.transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded , columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [15]:
data.drop(['Geography'],inplace=True , axis=1)

In [16]:
input_df = pd.concat([data.reset_index(drop=True) , geo_encoded_df],axis=1)
input_df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [20]:
X = input_df.drop(['EstimatedSalary'],axis=1)
y = input_df['EstimatedSalary']
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2 , random_state=42)

In [18]:
X_train.shape , y_train.shape

((8000, 12), (8000,))

In [19]:
X_test.shape , y_test.shape

((2000, 12), (2000,))

In [22]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [23]:
with open('churn_scaler.pkl','wb') as file:
    pickle.dump(ss,file)

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
regModel = Sequential([
    Dense(64 , activation='relu' , input_shape = (X_train.shape[1],)),
    Dense(32 , activation='relu'),
    Dense(16 , activation='relu'),
    Dense(8 , activation='relu'),
    Dense(1) # default activation function used named linear activation function
])
regModel.compile(optimizer = 'adam' , loss = 'mean_absolute_error' , metrics = ['mae'])
regModel.summary()

c:\Users\gm782\OneDrive\Desktop\mauravgalik\MLUsingLangchain\ANN_ClassificationProject\classificationEnv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_1 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 8)              │           136 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,585 (14.00 KB)

 Trainable params: 3,585 (14.00 KB)

 Non-trainable params: 0 (0.00 B)

In [34]:
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime
log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%M%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir , histogram_freq = 1)
earlystopping_callbacks = EarlyStopping(monitor = 'val_loss' , patience = 20 , restore_best_weights = True)

In [35]:
history = regModel.fit(
    X_train , y_train , validation_data = (X_test , y_test),
    epochs = 100, callbacks = [tensorboard_callback , earlystopping_callbacks]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49379.5898 - mae: 49379.5898 - val_loss: 50236.1953 - val_mae: 50236.1953
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49411.1094 - mae: 49411.1094 - val_loss: 50252.6992 - val_mae: 50252.6992
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49590.4336 - mae: 49590.4336 - val_loss: 50275.7266 - val_mae: 50275.7266
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49765.5391 - mae: 49765.5391 - val_loss: 50318.4141 - val_mae: 50318.4141
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48967.0391 - mae: 48967.0391 - val_loss: 50283.7656 - val_mae: 50283.7656
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48953.6758 - mae: 48953.6758 - val_loss: 50326.1758 - val_mae: 50326.1758
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50088.5195 - mae: 50088.5195 - val_loss: 50355.8516 - val_mae: 50355.8516
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48838.3516 - mae: 48838.3516 - val_loss: 50404.3125 - val_mae: 50404.3125
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48819.6133 - mae: 48819.6133 - val_loss: 50328.0859 - val_mae: 50328.0859
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48708.3594 - mae: 48708.3594 - val_loss: 50359.0664 - val_mae: 50359.0664
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49389.7734 - mae: 49389.7734 - val_loss: 50333.0977 - val_mae: 50333.0977
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49674.1406 - mae: 49674.1406 - val_loss: 50365.8320 - val_mae: 50365.8320
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49146.5352 - mae: 49146.5352 - val_loss: 50337.0352 - val_mae: 50337.0352
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49099.8242 - mae: 49099.8242 - val_loss: 50408.9531 - val_mae: 50408.9531
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49687.9336 - mae: 49687.9336 - val_loss: 50329.8359 - val_mae: 50329.8359
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49024.6367 - mae: 49024.6367 - val_loss: 50387.0664 - val_mae: 50387.0664
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48931.0898 - mae: 48931.0898 - val_loss: 50387.5586 - val_mae: 50387.5586
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49172.0547 - mae: 49172.0547 - val_loss: 50407.2344 - val_mae: 50407.2344
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48973.1914 - mae: 48973.1914 - val_loss: 50484.9531 - val_mae: 50484.9531
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49394.0234 - mae: 49394.0234 - val_loss: 50398.1523 - val_mae: 50398.1523
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49641.5547 - mae: 49641.5547 - val_loss: 50432.1953 - val_mae: 50432.1953

In [36]:
%load_ext tensorboard

In [38]:
%tensorboard --logdir regressionlogs/fit20250901-150904

In [40]:
test_loss,test_mae = regModel.evaluate(X_test , y_test)
print(f"Test MAE : {test_mae}")
print(f"Test Loss : {test_loss}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51047.6562 - mae: 51047.6562
Test MAE : 50236.1953125
Test Loss : 50236.1953125

In [41]:
regModel.save("regressionModel.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.